<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>React Map App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/app.css"> 
</head>
<body>
  <div id="root"></div>

  <!-- Load React, React DOM, and  app's JavaScript bundle -->
  <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <script src="/static/map.js"></script> 

  <!-- Load React-Leaflet and Leaflet libraries -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://unpkg.com/react-leaflet@3.3.0/dist/react-leaflet.js"></script>
  

</body>
</html>
